{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Recuperar contraseña" %}{% endblock %}

{% block content %}

<h1>{% trans "Recuperar contraseña" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "¿Olvidó su contraseña? ingrese su direccion de e-mail abajo y le ayudaremos a recuperarla." %}
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset My Password' %}" />
</form>

<p>{% blocktrans %}Por favor pongase en contacto con nosotros si presenta dificultades para recuperar su
    contraseña.{% endblocktrans %}</p>
{% endblock %}