{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
<h1>{% if token_fail %}{% trans "Token inválido" %}{% else %}{% trans "Cambiar contraseña" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}El enlace de reinicio es inválido, posiblemente ya fue usado. Por favor solicite <a
        href="{{ passwd_reset_url }}">nuevo reinicio de contraseña</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="action" value="{% trans 'change password' %}" />
</form>
{% else %}
<p>{% trans 'Su contraseña ha sido actualizada.' %}</p>
{% endif %}
{% endif %}
{% endblock %}