{% extends "base.html" %}
{% block head_title %}Bicicletas Once / Pago Realizado{% endblock %}
{% block content %}

<!--Main layout-->
<main>

    <!-- Card -->
    <div class="container wow fadeIn">
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class=" card-up indigo lighten-1"></div>

            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h4 class="card-title">¡Gracias por su compra!</h4>
                <p class="card-text">
                    <p class="font-weight-bold text-danger">Se ha enviado un correo con los detalles de su compra a
                        {{ email }}, es
                        muy importante lo que revise para que podamos dar seguimiento a su
                        compra.</p>
                </p>
                <hr class="mb-4">
                <a href="/" class="btn btn-primary btn-lg btn-block">
                    Ir a la página principal
                </a>
            </div>
        </div>
        <!-- Card -->

    </div>
</main>

{% endblock content %}