{% extends "base.html" %}
{% block head_title %}Bicicletas Once / Detalle del pedido{% endblock %}
{% block content %}

<body class="grey lighten-3">
    <!--Main layout-->
    <main>

        <!-- Card -->
        <div class="container wow fadeIn">
            <div class="card testimonial-card">

                <!-- Background color -->
                <div class=" card-up indigo lighten-1"></div>

                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title"><i class="fas fa-store"></i> Tienda Física:</h4>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col">Calle 11 de Agosto de 1859, 109<br>Leyes de Reforma 3a
                                Sección<br>Iztapalapa<br>CDMX, México</div>
                        </div>
                    </div>

                    <br>
                    <h4 class="card-title">Soporte y Pedidos:</h4>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col"><i class="fas fa-at"></i> e-mail:</div>
                            <div class="col">bicicletas.once@gmail.com</div>
                        </div>
                        <div class="row">
                            <div class="col"><i class="fab fa-whatsapp"></i> Whatsapp:</div>
                            <div class="col">+52 5526774403</div>
                        </div>
                    </div>
                </div>
                <!-- Card -->

            </div>
    </main>
</body>
{% endblock content %}