{% extends "base.html" %}

{% block head_title %}Bicicletas Once / Carrito{% endblock %}

{% block content %}

<!--Main layout-->
<main>
    <div class="container">

        <div class="table-responsive w-auto">
            <h2>Carrito de compra</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col"></th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for query_elmt in object %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ query_elmt.item.title }}</td>
                        <td><img src="{{ query_elmt.item.image.url }}" style="width: 70px">
                        </td>
                        {% if query_elmt.item.discount_price %}
                        <td>{{ query_elmt.item.discount_price }}</td>
                        {% else %}
                        <td>{{ query_elmt.item.price }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ query_elmt.item.get_remove_from_cart_url_os }}">
                                <i class="fas fa-minus mr-2"></i>
                            </a>
                            {{ query_elmt.quantity }}
                            <a href="{{ query_elmt.item.get_add_to_cart_url_os }}">
                                <i class="fas fa-plus ml-2"></i>
                            </a>
                        </td>
                        <td>
                            {% if query_elmt.item.discount_price %}
                            ${{ query_elmt.get_total_discount_item_price }}
                            <span class="badge badge-danger">Ahorro ${{ query_elmt.get_amount_saved }}</span>
                            {% else %}
                            ${{ query_elmt.get_total_item_price }}
                            {% endif %}
                            <a href="{{ query_elmt.item.get_delete_from_cart_url_os }}"><i
                                    class="fas fa-trash-alt float-right"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5"><b>Gran Total</b></td>
                        <td><b>${{ total }}</b></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex flex-row float-right">
                <div>
                    <a class="btn btn-primary float-left" href="/">Continuar Comprando</a>
                </div>
                <div>
                    <a class="btn btn-warning float-right ml-2" href="/checkout/">Proceder al Pago</a>
                </div>
            </div>

        </div>

    </div>
</main>
<!--Main layout-->
{% endblock content %}