{% extends "base.html" %}

{% block head_title %}Bicicletas Once / Carrito{% endblock %}

{% block content %}
<main>
    <div class="container">

        <div class="table w-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col"></th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for query_elmt in order_item_qs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ query_elmt.item.title }}</td>
                        <td><img src="{{ query_elmt.item.image.url }}" style="width: 70px">
                        </td>
                        {% if query_elmt.item.discount_price %}
                        <td>{{ query_elmt.item.discount_price }}</td>
                        {% else %}
                        <td>{{ query_elmt.item.price }}</td>
                        {% endif %}
                        <td>
                            {{ query_elmt.quantity }}
                        </td>
                        <td>
                            {% if query_elmt.item.discount_price %}
                            ${{ query_elmt.get_total_discount_item_price }}
                            <span class="badge badge-danger">Ahorraste
                                ${{ query_elmt.get_amount_saved }}</span>
                            {% else %}
                            ${{ query_elmt.get_total_item_price }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% if object.shipping_option == 'P' %}
                    <tr>
                        <td></td>
                        <td colspan="4">Costo de envío</td>
                        <td>$50</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="5"><b>Gran Total</b></td>
                        <td><b>${{ object.total }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <a class="btn btn-primary float-right" href="{{ referer }}">Regresar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</main>
{% endblock content %}