{% extends "base.html" %}
{% block head_title %}Aviso de privacidad{% endblock %}
{% block content %}
<div class="container">
    <section class="mb-4">
        <div class="row wow fadeIn">
            <div class='col-12'>
                <p class="text-justify">Aviso de Privacidad simplificado del sitio web www.bicicletasonce.com.mx<br><br>

                    William Augusto Palacios Hernádez (RFC: PAHW920827) es el responsable del tratamiento de los datos
                    personales que
                    nos proporcione.<br><br>

                    Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades:<br>
                    Ofrecerle un servicio
                    eficiente y de calidad en relación a el envío de mercancía y seguimiento de pedidos realizados en
                    linea.<br><br>

                    De manera adicional, utilizaremos su información personal para las siguientes finalidades que no son
                    necesarias,
                    pero que nos permiten y facilitan brindarle una mejor atención:<br> Datos estadísticos sobre el
                    consumo
                    de productos.<br><br>

                    En caso de que no desee que sus datos personales sean tratados para las finalidades adicionales,
                    usted puede
                    manifestarlo mediante correo electrónico a la siguiente dirección bicicletas.once@gmail.com debe
                    especificar en él
                    su nombre, número telefónico y dirección de correo electrónico.<br><br>

                    Si usted no manifiesta su negativa para dichas transferencias, se entenderá que ha otorgado su
                    consentimiento.
                </p>
                <a class="btn btn-primary btn-lg btn-block" href="/">Ir a la página principal</a>
            </div>
        </div>
    </section>
</div>

{% endblock content %}